*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: antiquewhite;
}
/* HAEDER STYLES */
header{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    color: whitesmoke;
    background-color: rgba(27, 6, 48, 0.911);
}
header h1{
    margin-left: 50px;
    text-transform: capitalize;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    

}
li a{
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
    color: whitesmoke;
    text-decoration: none;
}
/* MIDDLE STYLES */
section{
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 10px;
    padding: 20px;

    
}
.middle{
    border: none;
    flex: 1;
    text-align-last: left;
}
.middle h2 p{
       text-align: justify; 

}
.middle h2{
    padding: 10px;
}
.middle p{
    padding: 20px;
}
button{
     margin: 10px;
     padding: 10px;
     background-color: rgb(199, 93, 54);
     color: whitesmoke;
     border-radius: 5px;
     width: 100px;
     text-align: center;
     display: flex;
     justify-content: center;
     text-transform: capitalize;
     border: none;
     cursor: pointer;

}
.text{
    color: rgb(199, 93, 54);
}
figure img{
    width: 200px;
    height: auto;
    flex: 1;
    padding: 10px;
}
#img1{
    position: relative;
    left: 30%;
}
#img3{
    position: relative;
    right: 50%;
    top: 30%;
}
#img2{
    height: 100px;
    position: relative;
    top: 20%;
    left: 15%;
}
/* MAIN STYLES */
main{
    background-color: black;
}
main h1{
    margin-top: 50px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    color: whitesmoke;
}
main p{
    text-align: center;
    color: grey;

}
main h3{
    color: whitesmoke;
}
span{
    color: red;
}
.second{
    color: whitesmoke;
}
.sections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 5px auto;
    padding: 10px;
    gap: 10px;
}
.sect{
    border: none;
    padding: 10px;
    margin: 10px auto;
    background-color: #333;
}
.fa-solid{
    color: red;
    padding: 5px;
}
.fa-solid p{
    display: inline-block;
    color: whitesmoke;
    padding: 5px;
    text-transform: capitalize;
    cursor: pointer;
}
.fa-regular{
    color: red;
    padding: 5px;
}